@font-face {
    font-family: 'LogoFont';
    src: url('../fonts/custom/DESTROY_.ttf');
}

html {
    overflow-y: scroll;
}

body {
    margin-top: 60px;
    margin-bottom: 40px;
    background-image: url("../img/app-background/photoshop_texture_3.jpg");
    color: white;
}

footer {
    position: fixed;
    height: 40px;
    bottom: 0;
    width: 100%;
    color: #902c6f;
}

footer > div {
    background: darkblue;
}

legend {
    color: white;
}

.text-gray {
    color: slategray;
}

thead {
    color: slategray;
}

.error {
    color: red;
}

#app-header {
    text-align: center;
    border: none;
}

a {
    cursor: pointer;
}

#username-info {
    cursor: auto;
}

#app-header {
    background-color: #78FA89;
}

#site-logo {
    font-family: 'LogoFont';
}

#site-logo {
    color: darkolivegreen;
    font-size: 20px;
}

a#site-logo:hover {
    text-decoration: none;
}

#button-login, #button-register, #button-edit-password,
#button-add-project, #button-add-issue, #button-make-admin,
#button-edit-issue {
    width: 100%;
}

/* Header - Admin */
.admin-label {
    margin: 12px 0 0 20px;
}

/*Profile sidebar*/
.box {
    /*width: 100%;*/
    display: block;
    background: skyblue;
    border: #507E32 1px solid;
    margin: 15px 0;
    padding: 10px;
    box-shadow: rgba(80, 126, 50, 0.5) 1px 1px 3px;
}

.box h1 {
    margin: 0 0 10px 0;
    font-size: 18pt;
    font-weight: bold;
    color: black;
    text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
}

.box h2 {
    margin: 0 0 10px 0;
    font-size: 16pt;
    font-weight: bold;
    color: black;
    text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
}

ul.sidebar-menu {
    padding: 0 5px;
}

ul.sidebar-menu li {
    list-style-type: none;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0);
    padding: 2px;
    color: #1c381c;
}

ul.sidebar-menu li:hover {
    background: #c64abc; ;
}

ul.sidebar-menu li.special {
    font-style: italic;
}

ul.sidebar-menu li.selected {
    background: #DAA600;
    border: 1px solid #7F6000;
}

ul.sidebar-menu li a, ul.sidebar-menu li a:focus {
    outline: none;
    display: block;
    text-decoration: none;
    color: #1c381c;
}

/*Profile Image*/
.profile-image img {
    width: 100%;
}

/*Custom pagination*/
/*.paginationclass{

    margin: 19px 28px;
}
.paginationclass span{
    margin-left:15px;
    display:inline-block;
}*/
.pagination-control li{
    display: inline-block;
}
.pagination-control.btn.btn-warning button{
    font-size: 12px;
    margin-top: -26px;
    cursor:pointer;

}
.pagination{
    margin:5px 12px !important;
}

/*Home - Visitors*/
.jumbotron {
    background: transparent !important
}

/*Dashboard projects panel*/
.panel-body.dashboard {
    padding: 0;
}

.panel-body.dashboard a {
    display: block;
    width: 100%;
    padding: 15px;
}

.panel-body.dashboard a:hover {
    background-color: lightcyan;
}

#order-options-issues {
    border: 1px solid gold;
    border-radius: 10px;
}

.sortorder:after {
    content: '\25b2';
}
.sortorder.reverse:after {
    content: '\25bc';
}

.hover {
    cursor: pointer;
    font-weight: bold;
}

.hover:hover {
    color: #66512c;
    text-decoration: underline;
}

#search-container {
    margin: 0 0 15px 0;
    height: 20px;
}

.issues-table tbody tr:nth-child(even) {
    /*color: slategray;*/
    background: #eeaaff;
}

.issues-table tbody tr:nth-child(odd) {
    /*color: slategray;*/
    color: slategray;
}

#search-dashboard {
    background-color: #faff04;
}

#dashboard-buttons {
    margin-bottom: 30px;
}

.panel-body div {
    margin-left: 15px;
}

/*#search-container #search-dashboard {
    color: white;
}*/

/*::-webkit-input-placeholder { !* WebKit, Blink, Edge *!
    color: white;
}
:-moz-placeholder { !* Mozilla Firefox 4 to 18 *!
    color:white;
    opacity:1;
}
::-moz-placeholder { !* Mozilla Firefox 19+ *!
    color: white;
    opacity: 1;
}
:-ms-input-placeholder { !* Internet Explorer 10-11 *!
    color:white;
}*/

/* Projects page*/
#all-projects thead {
    background-color: greenyellow;
}

.all-projects-description {
    word-break: break-all;
    word-wrap: break-word;
}

.label.label-info {
    display: inline-block;
    margin-right: 10px;
    height: 16px;
}

/*Issue page*/
#statuses-list li {
    list-style-type: none;
}

/*Comments*/
#add-comment {
    margin-top: 10px;
}

/*Back to Top*/
.back-to-top {
    position: fixed;
    bottom: 4em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {
    background-color: rgba(135, 135, 135, 0.50);
    color: #c0671a;
}

/* Button and link effects */
/* Float Shadow */
.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    /*background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);*/
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* Grow Shadow */
.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Shadow */
.hvr-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}
.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 2px;
    background: #2098d1;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}





