<div class="container">
    <div class="page-header">
        <h1>Add Project</h1>
    </div>
    <form class="form-horizontal" name="addNewProjectForm">
        <fieldset>
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center">New Project<span class="fa fa-edit pull-right bigicon"></span></h4>
                    </div>
                    <div id="add-project-form" class="panel-body text-center text-gray">
                        <div class="form-group">
                            <label for="project-name" class="col-md-2 control-label">Name</label>
                            <div class="col-md-9">
                                <input type="text" name="projectName" class="form-control" id="project-name" data-ng-model="project.Name" required="required" placeholder="Project Name">
                            </div>
                            <div class="col-md-9 col-md-push-2 text-left">
                                <span class="error" data-ng-show="addNewProjectForm.$dirty && addNewProjectForm.projectName.$error.required">Project name is required!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="project-description" class="col-md-2 control-label">Description</label>
                            <div class="col-md-9">
                                <textarea class="form-control" name="description" id="project-description" data-ng-model="project.Description" required="required" placeholder="Project Description"></textarea>
                            </div>
                            <div class="col-md-9 col-md-push-2 text-left">
                                <span class="error" data-ng-show="addNewProjectForm.$dirty && addNewProjectForm.description.$error.required">Project description is required!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="project-project-key" class="col-md-2 control-label">Project Key</label>
                            <div class="col-md-9">
                                <input type="text" name="projectKey" class="form-control" id="project-project-key" data-ng-model="project.ProjectKey" required="required" placeholder="Project Key">
                            </div>
                            <div class="col-md-9 col-md-push-2 text-left">
                                <span class="error" data-ng-show="addNewProjectForm.$dirty && addNewProjectForm.projectKey.$error.required">Project key is required!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="project-leader" class="col-md-2 control-label">Leader</label>
                            <div class="col-md-9">
                                <select name="leadId" data-ng-model="project.LeadId" id="project-leader" class="form-control" required="required">
                                    <option value="" selected="selected">-- Select Project Leader --</option>
                                    <option value="{{user.Id}}" data-ng-repeat="user in allUsers">{{user.Username}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="project-priorities" class="col-md-2 control-label">Priorities</label>
                            <div class="col-md-9">
                                <input type="text" name="priorities" class="form-control" id="project-priorities" data-ng-model="project.Priorities" required="required" placeholder="Priorities">
                                <p class="text-left small">(separated by comma)</p>
                            </div>
                            <div class="col-md-9 col-md-push-2 text-left">
                                <span class="error" data-ng-show="addNewProjectForm.$dirty && addNewProjectForm.priorities.$error.required">Project priorities are required!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="project-labels" class="col-md-2 control-label">Add Label</label>
                            <div class="col-md-9 text-left">
                                <div class="col-md-9">
                                    <input type="text" name="projectLabel" id="project-labels" class="form-control"
                                           data-ng-change="getLabels()" data-ng-model="labelToBeAdded"
                                           ng-model-options="{updateOn: 'default', debounce: {default: 100, blur: 100}, getterSetter: true}">
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-success" data-ng-click="addLabel(labelToBeAdded)"
                                            data-ng-disabled="addNewProjectForm.projectLabel.$pristine || labelToBeAdded == ''">Add Label</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label class="col-md-2 control-label">Labels hint:</label>-->
                            <!--<div class="col-md-2"></div>-->
                            <div class="col-md-9 col-md-push-2 text-left" data-ng-if="labelToBeAdded != ''">
                                <span class="small">Hints: </span>
                                <span class="tag label label-info inline-block-span"
                                      data-ng-repeat="label in labels | limitTo: 10 track by $index">
                                    <span class="text-span">{{label.Name}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Labels:</label>
                            <div class="col-md-9 text-left">
                                <span class="tag label label-info inline-block-span"
                                      data-ng-repeat="label in project.Labels track by $index">
                                    <span class="text-span">{{label.Name}}</span>
                                    <a data-ng-click="removeLabel(label)"><i
                                            class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                           <!-- <div class="col-md-2"></div>-->
                            <div class="col-md-9 col-md-push-2">
                                <button id="button-add-project"
                                        data-ng-if="currentLoggedInUser.isAdmin"
                                        data-ng-disabled="addNewProjectForm.$invalid ||
                                        addNewProjectForm.projectName.$invalid"
                                        data-ng-click="createNewProject(project)"
                                        class="btn btn-primary">Create Project</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-9">
                        <a href="#/">Back to Dashboard</a>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
