<div class="container">
    <div class="page-header">
        <h1>Add Issue</h1>
    </div>
    <form class="form-horizontal" name="addNewIssueForm">
        <fieldset>
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center">New Issue<span class="fa fa-edit pull-right bigicon"></span></h4>
                    </div>
                    <div class="panel-body text-center text-gray issue-form">
                        <div class="form-group">
                            <label for="issue-title" class="col-md-2 control-label">Title</label>
                            <div class="col-md-9">
                                <input type="text" name="issueTitle" class="form-control" id="issue-title" data-ng-model="issue.Title" required="required" placeholder="Issue Title">
                            </div>
                            <div class="col-md-9 col-md-push-2 text-left">
                                <span class="error" data-ng-show="addNewIssueForm.$dirty && addNewIssueForm.issueTitle.$error.required">Issue title is required!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="issue-description" class="col-md-2 control-label">Description</label>
                            <div class="col-md-9">
                                <textarea class="form-control" name="issueDescription" id="issue-description" data-ng-model="issue.Description" required="required" placeholder="Issue Description"></textarea>
                            </div>
                            <div class="col-md-9 col-md-push-2 text-left">
                                <span class="error" data-ng-show="addNewIssueForm.$dirty && addNewIssueForm.issueDescription.$error.required">Issue description is required!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="available-projects" class="col-md-2 control-label">Project</label>
                            <div class="col-md-9">
                                <select name="issueProject" data-ng-model="issue.Project"
                                        ng-options="project as project.Name for project in allProjects"
                                        ng-change="getPrioritiesForProject(issue.Project)"
                                        id="available-projects" class="form-control" required="required">
                                    <option value="">-- Select Project --</option>
                                </select>
                            </div>
                            <div class="col-md-9 col-md-push-2 text-left">
                                <span class="error" data-ng-show="addNewIssueForm.$dirty && addNewIssueForm.issueProject.$error.required">Issue project is required!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="issue-assignee" class="col-md-2 control-label">Assignee</label>
                            <div class="col-md-9">
                                <select name="assigneeId" data-ng-model="issue.AssigneeId" id="issue-assignee" class="form-control" required="required">
                                    <option value="" selected="selected">-- Select Assignee --</option>
                                    <option value="{{user.Id}}" data-ng-repeat="user in allUsers">{{user.Username}}</option>
                                </select>
                            </div>
                            <div class="col-md-9 col-md-push-2 text-left">
                                <span class="error" data-ng-show="addNewIssueForm.$dirty && addNewIssueForm.assigneeId.$error.required">Issue assignee is required!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="issue-priority" class="col-md-2 control-label">Priority</label>
                            <div class="col-md-9">
                                <!--<select name="priorityId" data-ng-model="issue.PriorityId" id="issue-priority" class="form-control" required="required">
                                    <option value="" selected="selected">&#45;&#45; Available Priorities &#45;&#45;</option>
                                    <option value="{{priority.Id}}" data-ng-repeat="priority in currentProject.Priorities track by $index">{{priority.Name}}</option>
                                </select>-->
                                <select name="issuePriority" class="form-control inline-input-select" id="issue-priority"
                                        ng-options="priority as priority.Name for priority in priorities"
                                        ng-model="issue.priority">
                                </select>
                            </div>
                            <div class="col-md-9 col-md-push-2 text-left">
                                <span class="error" data-ng-show="addNewIssueForm.$dirty && addNewIssueForm.priorityId.$error.required">Issue priority is required!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="issue-duedate" class="col-md-2 control-label">Due Date</label>
                            <div class="col-md-9">
                                <input type="date" name="issueDueDate" class="form-control" id="issue-duedate" data-ng-model="issue.DueDate" required="required">
                            </div>
                            <div class="col-md-9 col-md-push-2 text-left">
                                <span class="error" data-ng-show="addNewIssueForm.$dirty && addNewIssueForm.issueDueDate.$error.required">Issue due date is required!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="addLabel">Add label</label>
                            <div class="col-md-9">
                                <div class="col-md-9">
                                    <input type="text" name="label" id="addLabel" class="form-control"
                                           data-ng-model="labelToBeAdded" data-ng-change="getLabels()"
                                           ng-model-options="{updateOn: 'default', debounce: {default: 100, blur: 100}, getterSetter: true}"
                                           autocomplete="off">
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-success" data-ng-click="addLabel(labelToBeAdded)"
                                            data-ng-disabled="addNewIssueForm.label.$pristine || labelToBeAdded == ''">Add Label</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label class="col-md-2 control-label">Labels hint:</label>-->
                            <div class="col-md-9 col-md-push-2 text-left" ng-if="labelToBeAdded != ''">
                                <span class="small">Hints: </span>
                                <span class="tag label label-info inline-block-span"
                                      data-ng-repeat="label in labels | limitTo: 10 track by $index">
                                    <span class="text-span">{{label.Name}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Labels</label>
                            <div class="col-md-9 text-left">
                                <span class="tag label label-info inline-block-span"
                                      data-ng-repeat="label in issue.Labels track by $index">
                                    <span class="text-span">{{label.Name}}</span>
                                    <a data-ng-click="removeLabel(label)"><i
                                            class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-push-2">
                                <button id="button-add-issue"
                                        data-ng-disabled="addNewIssueForm.$invalid ||
                                        addNewIssueForm.$dirty &&
                                        (addNewIssueForm.issueTitle.$pristine ||
                                        addNewIssueForm.issueDescription.$pristine ||
                                        addNewIssueForm.issueProject.$pristine ||
                                        addNewIssueForm.assigneeId.$pristine ||
                                        addNewIssueForm.priorityId.$pristine ||
                                        addNewIssueForm.issueDueDate.$pristine)"
                                        data-ng-click="createNewIssue(issue)"
                                        class="btn btn-primary">Create Issue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>