<div class="page-header"><h1>Affiliated Projects</h1></div>
<div class="panel panel-default">
    <div class="panel-body dashboard" data-ng-repeat="project in userProjects track by $index">
        <a href="#/projects/{{project.Id}}" title="View Project Details">{{project.Name}}</a>
    </div>
    <div class="text-center">
        <pagination pagination-id="pagination-affiliated-projects" total-items="allIssues" ng-model="issuesParams.startPage"
                    items-per-page="issuesParams.pageSize" ng-change="getUserRelatedIssues()"
                    max-size="3" boundary-links="true">
        </pagination>
    </div>
</div>