<div class="container">
    <div class="page-header">
        <h1>Projects</h1>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center">Issue Tracking System Projects <span class="fa fa-edit pull-right bigicon"></span></h4>
            </div>
            <div class="panel-body">
                <table id="all-projects" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-2 text-center">Project Name</th>
                            <th class="col-md-2 text-center">Project Key</th>
                            <th class="col-md-4 text-center">Description</th>
                            <th class="col-md-2 text-center">Project Leader</th>
                            <th data-ng-if="currentLoggedInUser.isAdmin" class="col-md-2 text-center">Update/Add Issue</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray">
                        <tr data-ng-repeat="project in allProjects">
                            <td><a href="#/projects/{{project.Id}}" title="View project details" class="all-projects-wordwrap">{{project.Name}}</a></td>
                            <td title="Project Key" class="wordwrap">{{project.ProjectKey}}</td>
                            <td class="all-projects-wordwrap" title="Project Description">{{project.Description}}</td>
                            <td title="Project Leader" class="wordwrap">{{project.Lead.Username}}</td>
                            <td data-ng-if="currentLoggedInUser.isAdmin">
                                <a href="#/projects/{{project.Id}}/edit" class="btn btn-primary">Edit</a>
                                <a href="#/projects/{{project.Id}}/add-issue" class="btn btn-primary">Add Issue</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <pagination
                            total-items="totalProjects"
                            ng-model="projectParams.startPage"
                            items-per-page="projectParams.pageSize"
                            ng-change="getProjects()"
                            max-size="9"
                            boundary-links="true">
                    </pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-md-9 back-link-container">
        <a href="#/">Back to Dashboard</a>
    </div>
</div>
<div data-back-to-top></div>
