<div class="page-header">
    <h1>Dashboard</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="row">
            <!--<div affiliated-projects></div>-->
            <div class="page-header"><h1>Affiliated Projects</h1></div>
            <div class="panel panel-default">
                <div class="page-header" id="search-container">
                    <input type="text" data-ng-model="Name" id="search-dashboard" class="form-control" placeholder="Filter by project name...">
                </div>
                <div class="panel-body dashboard" data-ng-repeat="project in userProjects | filter: {Name: Name} track by $index">
                    <a href="#/projects/{{project.Id}}" title="View Project Details">{{project.Name}}</a>
                </div>
                <!--<div class="text-center">
                    <pagination pagination-id="pagination-affiliated-projects" total-items="allIssues" ng-model="issuesParams.startPage"
                                items-per-page="issuesParams.pageSize" ng-change="getUserRelatedIssues()"
                                max-size="3" boundary-links="true">
                    </pagination>
                </div>-->
                <!--<div pagination-directive></div>-->
            </div>
        </div>
        <div class="row" id="dashboard-buttons" data-ng-if="currentLoggedInUser.isAdmin">
            <a href="#/projects" class="btn btn-primary">View All Projects</a>
            <a href="#/projects/add" data-ng-click="open()" class="btn btn-primary">Add New Project</a>
        </div>
    </div>
    <div class="col-md-7 col-md-offset-1">
        <div class="page-header"><h1>Assigned Issues</h1></div>
        <!--<div class="panel panel-danger">
            <div class="col-md-6">
                <h4>Filter options</h4>
                <div class="panel-body">
                    By Title:
                    <input type="text" data-ng-model="Title">
                    {{Title}}
                </div>
            </div>
        </div>-->
        <div class="issues-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td class="hover" ng-click="order('Title')">
                            Title
                            <span class="sortorder" ng-show="predicate === 'Title'" ng-class="{reverse:reverse}"></span>
                        </td>
                        <td class="hover" ng-click="order('Description')">
                            Description
                            <span class="sortorder" ng-show="predicate === 'Description'" ng-class="{reverse:reverse}"></span>
                        </td>
                        <td class="hover" ng-click="order('Project.Name')">
                            Project
                            <span class="sortorder" ng-show="predicate === 'Project.Name'" ng-class="{reverse:reverse}"></span>
                        </td>
                        <td class="hover" ng-click="order('DueDate')">
                            Due Date
                            <span class="sortorder" ng-show="predicate === 'DueDate'" ng-class="{reverse:reverse}"></span>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="issue in userRelatedIssues.Issues | orderBy:predicate:reverse">
                        <td>
                            <a href="#/issues/{{issue.Id}}">{{issue.Title}}</a>
                        </td>
                        <td>{{issue.Description}}</td>
                        <td>
                            <a href="#/projects/{{issue.Project.Id}}">{{issue.Project.Name}}</a>
                        </td>
                        <td>{{issue.DueDate | date: 'dd/MM/yyyy'}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <pagination total-items="allIssues" ng-model="issuesParams.startPage"
                            items-per-page="issuesParams.pageSize" ng-change="getAllUserRelatedIssues()"
                            max-size="5" boundary-links="true">
                </pagination>
            </div>
        </div>
    </div>
</div>
<div data-back-to-top></div>