<form class="form-horizontal" name="editPasswordForm">
    <fieldset>
        <div class="col-md-7 col-md-offset-2">
            <legend>Edit Password</legend>
            <div class="form-group">
                <label for="oldPassword" class="col-lg-3 control-label">Old Password</label>
                <div class="col-lg-9">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
                        <input type="password" class="form-control" id="oldPassword" data-ng-model="user.OldPassword" data-ng-required="required" minlength="6" maxlength="100" placeholder="Old Password">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="newPassword" class="col-lg-3 control-label">New Password</label>
                <div class="col-lg-9">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
                        <input type="password" class="form-control" id="newPassword" data-ng-model="user.NewPassword" name="newPassword" data-ng-required="required" minlength="6" maxlength="100" placeholder="New Password">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="newConfirmPassword" class="col-lg-3 control-label">Confirm New Password</label>
                <div class="col-lg-9">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
                        <input type="password" class="form-control" id="newConfirmPassword" data-ng-model="user.ConfirmPassword" name="newConfirmPassword" data-ng-required="required" minlength="6" maxlength="100" placeholder="Confirm New Password">
                    </div>
                    <span class="error" data-ng-show="user.newPassword !== user.newConfirmPassword">Passwords does not match!</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3">
                    <button id="button-edit-password"
                            data-ng-click="editPassword(user, editPasswordForm)"
                            data-ng-disabled="editPasswordForm.$pristine ||
                            editPasswordForm.$invalid ||
                            (user.newPassword !== user.newConfirmPassword) ||
                            editPasswordForm.newPassword.$pristine ||
                            editPasswordForm.newConfirmPassword.$pristine"
                            class="btn btn-primary btn-lg">Edit Password</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3">
                    <a href="#/profile">Back to Profile</a>
                </div>
            </div>
        </div>
    </fieldset>
</form>