<div class="page-header">
    <h1>{{project.Name}}</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="page-header"><h3 class="text-center">Project Info</h3></div>
            <div class="panel panel-default text-gray">
                <div class="panel-body project-page">
                    <div class="row">
                        <label for="project-page-name">Name: </label>
                        <span id="project-page-name">{{project.Name}}</span>
                    </div>
                    <div class="row">
                        <label for="project-page-name">Project Key: </label>
                        <span id="project-page-project-key">{{project.ProjectKey}}</span>
                    </div>
                    <div class="row">
                        <label for="project-page-description">Description: </label>
                        <span id="project-page-description">{{project.Description}}</span>
                    </div>
                    <div class="row">
                        <label for="project-page-name">Leader: </label>
                        <span id="project-page-leader">{{project.Lead.Username}}</span>
                    </div>
                    <div class="row">
                        <label>Labels: </label>
                        <span class="project-page-labels label label-info"
                              data-ng-if="project.Labels.length"
                              data-ng-repeat="label in project.Labels track by $index">{{label.Name}}&nbsp;</span>
                        <span data-ng-if="!project.Labels.length">No labels available</span>
                    </div>
                    <div class="row">
                        <label for="project-page-priorities">Priorities: </label>
                        <!--<span id="project-page-priorities" data-ng-repeat="priority in project.PrioritiesArr track by $index">{{priority}}</span>-->
                        <span id="project-page-priorities" data-nd-model="project.projectPriorities">{{project.projectPriorities}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-ng-if="currentLoggedInUser.isAdmin || currentLoggedInUser.Id == project.Lead.Id">
            <a href="#/projects/{{project.Id}}/edit" class="btn btn-primary">Edit</a>
            <a href="#/projects/{{project.Id}}/add-issue" data-ng-click="open()" class="btn btn-primary">Add Issue</a>
        </div>
    </div>
    <div class="col-md-7 col-md-offset-1">
        <div class="page-header"><h3 class="text-center">Project Issues</h3></div>
        <div class="text-center" data-ng-if="!project.Issues.length">No issues added to the project.</div>
        <div data-ng-if="project.Issues.length" class="issues-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td class="hover" ng-click="order('Title')">
                            Title
                            <span class="sortorder" ng-show="predicate === 'Title'" ng-class="{reverse:reverse}"></span>
                        </td>
                        <td class="hover" ng-click="order('Description')">
                            Description
                            <span class="sortorder" ng-show="predicate === 'Description'" ng-class="{reverse:reverse}"></span>
                        </td>
                        <td class="hover" ng-click="order('DueDate')">
                            Due Date
                            <span class="sortorder" ng-show="predicate === 'DueDate'" ng-class="{reverse:reverse}"></span>
                        </td>
                        <td class="hover" ng-click="order('Assignee.Username')">
                            Project
                            <span class="sortorder" ng-show="predicate === 'Assignee.Username'" ng-class="{reverse:reverse}"></span>
                        </td>
                        <!--<th>Title</th>
                        <th>Description</th>-->
                        <!--<th>Due Date</th>-->
                        <!--<th>Assignee</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="issue in project.Issues |
                        pagination: projectIssuesParams.currentPage * projectIssuesParams.pageSize | limitTo: projectIssuesParams.pageSize |
                        orderBy:predicate:reverse">
                        <td>
                            <a href="#/issues/{{issue.Id}}">{{issue.Title}}</a>
                        </td>
                        <td>{{issue.Description}}</td>
                        <td>{{issue.DueDate | date: 'dd/MM/yyyy'}}</td>
                        <td>{{issue.Assignee.Username}}</td>
                    </tr>
                </tbody>
            </table>
            <div data-custom-pagination></div>
        </div>
    </div>
</div>
<div data-back-to-top></div>