<div class="page-header">
    <h1>{{project.Name}}</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="page-header"><h3 class="text-center">Project Info</h3></div>
            <div class="panel panel-default text-gray">
                <div class="panel-body project-page">
                    <div class="row">
                        <label for="project-page-name">Name: </label>
                        <span id="project-page-name">{{project.Name}}</span>
                    </div>
                    <div class="row">
                        <label for="project-page-name">Project Key: </label>
                        <span id="project-page-project-key">{{project.ProjectKey}}</span>
                    </div>
                    <div class="row">
                        <label for="project-page-description">Description: </label>
                        <span id="project-page-description">{{project.Description}}</span>
                    </div>
                    <div class="row">
                        <label for="project-page-name">Leader: </label>
                        <span id="project-page-leader">{{project.Lead.Username}}</span>
                    </div>
                    <div class="row">
                        <label>Labels: </label>
                        <span class="project-page-labels label label-info"
                              data-ng-if="project.Labels.length"
                              data-ng-repeat="label in project.Labels track by $index">{{label.Name}}&nbsp;</span>
                        <span data-ng-if="!project.Labels.length">No labels available</span>
                    </div>
                    <div class="row">
                        <label for="project-page-priorities">Priorities: </label>
                        <!--<span id="project-page-priorities" data-ng-repeat="priority in project.PrioritiesArr track by $index">{{priority}}</span>-->
                        <span id="project-page-priorities" data-nd-model="project.projectPriorities">{{project.projectPriorities}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row group-buttons" data-ng-if="currentLoggedInUser.isAdmin || currentLoggedInUser.Id == project.Lead.Id">
            <div class="col-md-6">
                <a href="#/projects/{{project.Id}}/edit" class="btn btn-primary project-page-buttons">Edit Project</a>
            </div>
            <div class="col-md-6">
                <a href="#/projects/{{project.Id}}/add-issue" class="btn btn-primary project-page-buttons">Add Issue</a>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-md-offset-1">
        <div class="page-header"><h3 class="text-center">Project Issues</h3></div>
        <div class="row">
            <div class="col-md-3">
                <div class="row" id="project-pagination-option-title"><h5>Pagination</h5></div>
                <div class="switch row">
                    <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox" data-ng-model="pagingOption"
                        data-ng-click="switchPaging()">
                    <label for="cmn-toggle-1"></label>
                </div>
            </div>
            <div class="col-md-9">
                <div class="col-md-4">
                    <div option-view-all option="viewAllOption" data-ng-click="switchIssueFilter()"></div>
                </div>
                <div class="col-md-8">
                    <div data-ng-if="viewAllOption" id="filter-section" class="text-gray">
                        <label class="control-label" for="status">Filters</label>
                        <select name="status" id="status" class="form-control issue-filter" data-ng-model="issueFilter.status">
                            <option value="">Select status</option>
                            <option value="Open">Open</option>
                            <option value="InProgress">In Progress</option>
                            <option value="StoppedProgress">Stopped Progress</option>
                            <option value="Closed">Closed</option>
                        </select>
                        <input type="number" class="form-control issue-filter" data-ng-model="issueFilter.day" placeholder="By day">
                        <input type="number" class="form-control issue-filter" data-ng-model="issueFilter.month" placeholder="By month">
                        <input type="number" class="form-control issue-filter" data-ng-model="issueFilter.year" placeholder="By year">
                        <button class="btn btn-primary form-control" data-ng-click="filterIssues(issueFilter)">Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center" data-ng-if="!project.Issues.length && !allFilteredIssues.length">No issues added to the project.</div>
        <div data-ng-if="project.Issues.length && !viewAllOption" class="issues-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td class="hover" data-ng-click="order('Title')">
                            Title
                            <span class="sortorder" data-ng-show="predicate === 'Title'" data-ng-class="{reverse:reverse}"></span>
                        </td>
                        <td class="hover issue-description-project-page" data-ng-click="order('Description')">
                            Description
                            <span class="sortorder" data-ng-show="predicate === 'Description'" data-ng-class="{reverse:reverse}"></span>
                        </td>
                        <td class="hover" data-ng-click="order('DueDate')">
                            Due Date
                            <span class="sortorder" data-ng-show="predicate === 'DueDate'" data-ng-class="{reverse:reverse}"></span>
                        </td>
                        <td class="hover" data-ng-click="order('Assignee.Username')">
                            Assignee
                            <span class="sortorder" data-ng-show="predicate === 'Assignee.Username'" data-ng-class="{reverse:reverse}"></span>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-if="pagingOption" data-ng-repeat="issue in project.Issues |
                        pagination: customPagingParams.currentPage * customPagingParams.pageSize | limitTo: customPagingParams.pageSize |
                        orderBy:predicate:reverse">
                        <td>
                            <a href="#/issues/{{issue.Id}}" class="project-page-wordwrap">{{issue.Title}}</a>
                        </td>
                        <td class="issue-description-project-page project-page-wordwrap">{{issue.Description}}</td>
                        <td>{{issue.DueDate | date: 'dd/MM/yyyy'}}</td>
                        <td class="wordwrap">{{issue.Assignee.Username}}</td>
                    </tr>
                    <tr data-ng-if="!pagingOption" data-ng-repeat="issue in project.Issues |
                        orderBy:predicate:reverse">
                        <td>
                            <a href="#/issues/{{issue.Id}}" class="wordwrap">{{issue.Title}}</a>
                        </td>
                        <td class="issue-description-project-page wordwrap">{{issue.Description}}</td>
                        <td>{{issue.DueDate | date: 'dd/MM/yyyy'}}</td>
                        <td class="wordwrap">{{issue.Assignee.Username}}</td>
                    </tr>
                </tbody>
            </table>
            <div data-ng-if="pagingOption" data-custom-pagination></div>
        </div>
        <div data-ng-if="allFilteredIssues.length && viewAllOption" class="issues-table">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td class="hover" data-ng-click="order('Title')">
                        Title
                        <span class="sortorder" data-ng-show="predicate === 'Title'" data-ng-class="{reverse:reverse}"></span>
                    </td>
                    <td class="hover issue-description-project-page" data-ng-click="order('Description')">
                        Description
                        <span class="sortorder" data-ng-show="predicate === 'Description'" data-ng-class="{reverse:reverse}"></span>
                    </td>
                    <td class="hover" data-ng-click="order('DueDate')">
                        Due Date
                        <span class="sortorder" data-ng-show="predicate === 'DueDate'" data-ng-class="{reverse:reverse}"></span>
                    </td>
                    <td class="hover" data-ng-click="order('Assignee.Username')">
                        Assignee
                        <span class="sortorder" data-ng-show="predicate === 'Assignee.Username'" data-ng-class="{reverse:reverse}"></span>
                    </td>
                </tr>
                </thead>
                <tbody>
                <!--All issues-->
                <tr data-ng-if="!pagingOption" data-ng-repeat="issue in allFilteredIssues |
                    orderBy:predicate:reverse">
                    <td>
                        <a href="#/issues/{{issue.Id}}" class="project-page-wordwrap">{{issue.Title}}</a>
                    </td>
                    <td class="issue-description-project-page project-page-wordwrap">{{issue.Description}}</td>
                    <td>{{issue.DueDate | date: 'dd/MM/yyyy'}}</td>
                    <td class="wordwrap">{{issue.Assignee.Username}}</td>
                </tr>
                <tr data-ng-if="pagingOption" data-ng-repeat="issue in allFilteredIssues |
                    pagination: customPagingParams.currentPage * customPagingParams.pageSize | limitTo: customPagingParams.pageSize |
                    orderBy:predicate:reverse">
                    <td>
                        <a href="#/issues/{{issue.Id}}" class="wordwrap">{{issue.Title}}</a>
                    </td>
                    <td class="issue-description-project-page wordwrap">{{issue.Description}}</td>
                    <td>{{issue.DueDate | date: 'dd/MM/yyyy'}}</td>
                    <td class="wordwrap">{{issue.Assignee.Username}}</td>
                </tr>
                </tbody>
            </table>
            <div data-ng-if="pagingOption && viewAllOption" data-custom-pagination></div>
        </div>
        <div class="text-center" data-ng-if="!allFilteredIssues.length && viewAllOption">No issues</div>
    </div>
</div>
<div data-back-to-top></div>