<table class="table table-bordered table-striped all-projects">
    <thead>
    <tr>
        <th class="col-md-2">Project Name</th>
        <th class="col-md-2">Project Key</th>
        <th class="col-md-4">Description</th>
        <th class="col-md-2">Project Leader</th>
        <th class="col-md-2">Update/Add Issue</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="project in allProjects">
        <td>{{project.Name}}</td>
        <td>{{project.ProjectKey}}</td>
        <td>{{project.Description}}</td>
        <td>{{project.Lead.Username}}</td>
        <td>
            <a href="#/projects/{{project.Id}}/edit" class="btn btn-primary">Edit</a>
            <a href="#/projects/{{project.Id}}/add-issue" class="btn btn-primary">Add Issue</a>
        </td>
    </tr>
    </tbody>
</table>